# Environments
.venv/
venv/
env/
roberta_irony_imdb_results/
checkpoint-*/

# Python artifacts
__pycache__/
*.py[cod]
*.class

# Local weights (already on Hugging Face)
my_imdb_sarcasm_model/

# OS files
.DS_Store
Thumbs.db

# Secrets
.env
